/* для страниц что связаны со списком каких то панелек */

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 15%;
    margin: 10px 10px;
    padding: 0;
    border-radius: 12px;
    border: solid #ccc 2px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_heading {
    min-height: 50px;
    overflow: hidden;
    border-radius: 1px;
    border-bottom: #c7c7c7 solid 2px;
    margin-bottom: 18px;
    padding: 0 12px;
}

.box p {
    margin: 5px;
}