/* Общие стили для всех страниц */

.main {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}

.heading {
    text-align: center;
    padding: 10px;
}

.button {
    bottom: 20px;
    background-color: #5d5d5d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin:10px
}