.table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow: scroll;
}
.table_container {
    width: 100%;
    overflow: scroll;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table input {
    width: 95%
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.table_button {
    background-color: #5d5d5d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
}

.table_button:hover {
    background-color: #3e8e41;
}